:host {
	display: flex;
	flex-direction: column;
	flex: 1;

	.container {
		display: flex;
		flex: 1;
		flex-direction: column;

		.content {
			color: white;
			padding: 20px;
			text-align: center;

			background-color: crimson;
			color: white;
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
		}
	}
}
